*{
	font-family: 'Jost', sans-serif;
}

body{
	background-color: #eee;
}

html{
<<<<<<< HEAD
scroll-behavior: smooth;
=======
	scroll-behavior: smooth;
>>>>>>> a334248b50fcbc17a2d98eb4950a5c50bc2f2d39
}

/*Styling for large screen sizes*/
@media screen and (max-width:1200px) {  
  .col-lg img {
    /*display: none;*/
  }
}

/*Styling for medium screen sizes*/
@media screen and (max-width:992px) {  
  .col-md img {
    display: none;
  }
}

/*Styling for small screen sizes*/
@media screen and (max-width:768px) {  
  .col-sm img {
    display: block;
    margin: 0 0 55px 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 55px;
    width: 100%;
    height: 100%;
  }
  .rounded-circle{
<<<<<<< HEAD
  	display: block;
  }
  .text-justify{
  	/*margin-top: 0px !important;*/
=======
  	display: none;
  }
  .text-justify{
  	margin-top: 0px !important;
>>>>>>> a334248b50fcbc17a2d98eb4950a5c50bc2f2d39
  }
}

/*Styling for extra-small screen sizes*/
@media screen and (max-width:768px) {  
  .col-xs img {
    /*display: none;*/
  }
<<<<<<< HEAD
}
=======
}
>>>>>>> a334248b50fcbc17a2d98eb4950a5c50bc2f2d39
